body,
html{
  width: 100%;
  height: 100%;
}

body{
  display: flex;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  width: 100%;
  align-items: center;
}

.showcase{
  overflow: hidden;
  position: relative;
  border-top: 1px solid $SW-color;
  border-bottom: 1px solid $SW-color;
  width: 100%;
  max-height: 700px;
  &__wrapper{
    max-width: 1500px;
    margin: 0 auto;
    border-left: 1px solid $SW-color;
    border-right: 1px solid $SW-color;
    position: relative;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }
  &__content-label{
    text-align: justify;
    transform: perspective(800px) rotate3d(-1, 0, 0, -40deg);
    max-width: 700px;
    margin: 0 auto;
    color: $SW-color;
    font-size: 26px;
    div{
      a{
        color: $SW-color;
        display: block;
        margin-top: 15px;
      }
    }
  }
}

#game-container{
  >div{
    border: 1px solid $SW-color;
    border-radius: 25px;
    margin: auto !important;
    left: 0;
    right: 0;
  }
}

.game{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-container{
    position: relative;
  }
  &-container__rules{
    border: 1px solid $SW-color;
    border-radius: 25px;
    color: $SW-color;
    text-align: left;
    background-color: #000;
    padding: 20px 30px;
    width: 80%;
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  &__counter{
    color: $SW-color;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 15px 0px;
    font-size: 20px;
  }
}

