a{
  cursor: pointer;
}
#app{
  margin: 0 !important;
  padding: 0 !important;
}
.component-burger{
  height: 35px;
  width: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  appearance:none;
  outline: none;
  border: none;
  right: 10px;
  top: 20px;
  position: absolute;
  &__line:nth-child(2){
    width: 80%;
  }
  &__line:nth-child(3){
    width: 90%;
  }
  &__line{
    height: 4px;
    // border-radius: 0 10px 10px 0;
    width: 100%;
    background-color: $SW-color;
    transition: all .3s;
  }
}
.component-burger.active{
  .component-burger__line:nth-child(1){
    transform: rotate(45deg) translate(10px,13px);
    width: 100%;
  }
  .component-burger__line:nth-child(2){
    width: 0%;
    opacity: 0;
    transform: translateX(-50%);
    width: 100%;
  }
  .component-burger__line:nth-child(3){
    transform: rotate(-45deg) translate(10px,-11px);
    width: 100%;
  }
}

.common-btn{
  border: 1px solid $SW-color;
  border-radius: 30px;
  color: $SW-color;
  background-color: #000;
  font-size: 20px;
  padding: 5px 30px;
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.bi{
  color: $SW-color;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 15px;
  animation-duration: 1s;
  animation-name: mouse;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0%);
}
.el-loading-spinner{
  p,
  svg{
    color: $SW-color !important;
  }
  circle{
    stroke: $SW-color !important;
  }
}
@keyframes mouse {
  0%{
    transform: translateY(0%);
  }
  15%{
    transform: translateY(10%);
  }
  75%{
    transform: translateY(-10%);
  }
  100%{
    transform: translateY(0%);
  }
}
