.navigation{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-right: 1px solid $SW-color;
  z-index: 1;
  transition: all .4s;
  list-style-type: none;
  width: 20%;
  max-width: 70px;
  &__box{
    list-style-type: none;
    padding: 0;
    padding-right: 20px;
    margin-top: 80px;
  }
  &__link{
    color: $SW-color;
    padding-bottom: 20px;
    text-align: right;
    a{
      color: $SW-color;
      text-decoration: none;
    }
  }
}
.navigation.active{
  max-width: 200px;
  background-color: black;
}
