.screen-second{
  color: $SW-color-bl;
  display: flex;
  justify-content: center;
  align-items: center;
  &__description,
  &__wrapper,
  &__title{
    margin: 0;
    color: $SW-color-bl !important;
    a{
      color: $SW-color-bl !important;
    }
  }
  &__wrapper{
    max-width: 500px;
  }
}
.showcase{
  &__first-screen-preloader{
    width: 100%;
    height: 100%;
    position: absolute;
    .svg-wrapper{
      max-width: 700px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      svg:nth-child(1){
        width: 90%;
      }
      svg:nth-child(2){
        width: 10%;
      }
    }
  }
  &__first-screen{
    color: $SW-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: #000;
    left: 0;
    top: 0;
    h1{
      font-size: 75px;
      animation: scale ease-in 2s;
      opacity: 0;
    }
    @keyframes scale {
      0%{
        transform: scale(2.0);
        opacity: 0;
      }
      50%{
        transform: scale(1);
        opacity: 1;
      }
      85%{
        transform: scale(1);
        opacity: 1;
      }
      100%{
        transform: scale(0);
        opacity: 0;
      }
    }
  }
}
