<template>
  <div
    ref="game"
    class="game"
  >
    <div
      id="game-container"
      ref="gameContainer"
      class="game-container"
    >
      <span
        v-if="asteroidsCount > 0"
        class="game__counter"
      >
        {{ asteroidsCount }} / 200
      </span>
    </div>
    <transition
      name="fade"
      mode="out-in"
    >
      <div
        v-if="!isStart"
        class="game-container__rules"
      >
        <ul>
          <li>Пробел - выстрел из бластера</li>
          <li>Стрелка влево - маневр влево</li>
          <li>Стрелка вправо - маневр вправо</li>
        </ul>
        <el-button
          class="common-btn"
          @click="start"
        >
          Начать
        </el-button>
      </div>
    </transition>
    <transition
      name="fade"
      mode="out-in"
    >
      <div
        v-if="isPause"
        class="game-container__rules"
      >
        <p>Попробовать снова?</p>
        <el-button
          class="common-btn"
          @click="restart"
        >
          Начать
        </el-button>
      </div>
    </transition>
  </div>
</template>

<script>
// import { mapGetters, mapState } from 'vuex'
import { getCurrentInstance, onMounted, onBeforeUnmount } from 'vue'
import { mapState } from 'vuex'

// import { ElLoading } from 'element-plus'

export default {
  name: 'Game',
  props: {
    isNext: {
      type: Boolean,
      required: true,
    },
    scrollAnchor: {
      type: Object,
      required: true,
    },
    sizes: {
      type: Object,
      required: true,
    },
  },
  setup (props, root) {
    const context = getCurrentInstance().appContext.config.globalProperties

    const gameInit = (container, sizes) => {
      context.$modules.game.init(container, sizes, true)
    }

    const start = () => {
      context.$modules.game.start()
    }

    const restart = () => {
      context.$modules.game.restart()
    }

    const destroy = () => {
      context.$modules.game.destroy()
    }

    onBeforeUnmount(() => {
      destroy()
    })

    onMounted(async () => {
      gameInit('game-container', props.sizes)
      root.$emit('isHideEmit', false)

      // ElLoading.service({
      //   lock: true,
      //   text: 'Loading',
      //   target: this.$refs.gameContainer,
      //   // spinner: 'el-icon-loading',
      //   background: 'rgba(0, 0, 0, 0.0)',
      // })
    })

    return {
      destroy,
      gameInit,
      start,
      restart,
    }
  },
  data () {
    return {
      cameContainer: '',
    }
  },
  computed: {
    ...mapState('game', [
      'isStart',
      'isPause',
      'asteroidsCount',
    ]),
  },
}
</script>

<style lang="scss">

</style>
