<template>
  <div class="showcase__main-screen">
    <div
      :index="translateIndex"
      class="showcase__content-label"
      :style="(false) ? `transform: perspective(35em) rotateX(20deg) translateY(${translateIndex}%);` : `transform: perspective(800px) rotate3d(-1, 0, 0, -30deg) translateY(${translateIndex}%) scale(2);`"
    >
      <component
        v-for="(item,key) in getCurrentContent[0].description"
        :key="key"
        :is="item.tagName"
        :class="item.className"
      >
        {{item.value}}
        <template v-if="item.deep">
          <component
              v-for="(item,key) in item.deep"
              :key="key"
              :is="item.tagName"
              :href="item.href"
              target="_blank"
              class="showcase__content-deep"
              :class="item.className"
          >
            {{item.value}}
          </component>
        </template>
      </component>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'MainScreen',
  props: {
    isNext: {
      type: Boolean,
      required: true,
    },
    scrollAnchor: {
      type: Object,
      required: true,
    },
  },
  computed: {
    ...mapGetters('pages', [
      'translateIndex',
      'getCurrentContent',
    ]),
  },
  watch: {
    isNext (e) {
      if (e) {
        this.$store.commit('pages/setDefaultScrollValue', [
          'x',
          'y',
        ])
        this.$router.push('/about')
      }
    },
  },
  mounted () {
    this.$store.commit('pages/setCurrentIndex', 0)
    this.$emit('isHideEmit', false)
  },
}
</script>

<!--<style scoped>-->

<!--</style>-->
