<template>
  <div
    class="screen-second__wrapper"
    :style="`transform:scale(${dataComponent.scale.value});`"
  >
    <a
      v-if="getCurrentItemMessage"
      :href="getCurrentItemMessage.href"
      target="_blank"
    >
      <template v-if="!getCurrentItemMessage.html">
        <h1 class="screen-second__title">
          {{ getCurrentItemMessage.value }}
        </h1>
        <p
          v-if="getCurrentItemMessage.description"
          class="screen-second__description"
        >
          {{ getCurrentItemMessage.description }}
        </p>
      </template>
      <template v-else>
        <h1 class="screen-second__title">
          {{ getCurrentItemMessage.value }}
        </h1>
        <p
          class="screen-second__description"
          v-html="getCurrentItemMessage.html"
        />
      </template>
    </a>
    <div v-if="isEnd.value">
      Дальше можно посмотреть
      <a
        class="screen-second__title"
        href="https://bitbucket.org/lordofthejavascript/about/src/master/"
        target="_blank"
      >
        git всего этого
      </a>
      или
      <router-link
        class="screen-second__title"
        to="/game"
      >
        немного позалипать
      </router-link>
    </div>
  </div>
</template>

<script>
// import { mapGetters, mapState } from 'vuex'
import { getCurrentInstance, onMounted, reactive, computed, defineComponent } from 'vue'
import { useCommon } from '../../composables/common'

export default defineComponent({
  name: 'SecondScreen',
  props: {
    isNext: {
      type: Boolean,
      required: true,
    },
    scrollAnchor: {
      type: Object,
      required: true,
    },
  },
  setup (_, root) {
    const { onWatchIndex } = useCommon()
    const context = getCurrentInstance().appContext.config.globalProperties

    const dataComponent = {
      scroll: reactive({
        value: 0,
      }),
      scale: reactive({
        value: 0,
      }),
      elements: {
        index: reactive({
          value: 0,
        }),
      },
    }
    const currentContent = reactive({
      value: 0,
    })
    const isEnd = reactive({
      value: false,
    })

    const translateIndex = computed(() => context.$store.getters['pages/translateIndex'])
    const getCurrentItemMessage = computed(() => currentContent.value && currentContent.value[dataComponent.elements.index.value])

    onMounted(() => {
      context.$store.commit('pages/setCurrentIndex', 1)
      root.emit('isHideEmit', false)
      onWatchIndex(translateIndex, dataComponent)
      currentContent.value = computed(() => context.$store.getters['pages/getCurrentContent'])
      isEnd.value = computed(() => { return (dataComponent.elements.index.value >= currentContent.value.length) })
    })

    return {
      getCurrentItemMessage,
      isEnd,
      dataComponent,
    }
  },
})
</script>

<style scoped>

</style>
