<template>
  <button
    class="component-burger"
    :class="{'active': event}"
  >
    <span
      class="component-burger__line"
    />
    <span class="component-burger__line"/>
    <span class="component-burger__line"/>
  </button>
</template>

<script>
export default {
  name: 'BtnBurger',
  props: {
    event: {
      required: true,
      type: Boolean,
    },
  },
}
</script>

<style lang="scss">
</style>
