<template>
  <div class="showcase__content">
    <component
      :is="setScreen"
    />
  </div>
</template>

<script>
import MainScreen from './screens/MainScreen'
import SecondScreen from './screens/SecondScreen'
import { mapState, mapGetters } from 'vuex'
export default {
  name: 'Content',
  components: {
    MainScreen,
    SecondScreen,
  },
  computed: {
    ...mapState('pages', [
      'scrollValue',
    ]),
    ...mapGetters('pages', [
      'setScreen',
    ]),
    translateIndex () {
      return this.scrollValue.z - (parseFloat(this.scrollValue.x.toFixed(2)) * 50)
    },
  },
  mounted () {
  },
}
</script>

<style lang="scss">

</style>
