<template>
  <div
    ref="firstScreen"
    class="showcase__first-screen"
  >
    <transition
      name="fade"
      mode="out-in"
    >
      <div
        v-if="!pageIsLoaded"
        class="showcase__first-screen-preloader"
      >
        <div class="svg-wrapper">
          <svg
            viewBox="0 0 800 200"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
          >
            <path
              id="path"
              d="m0,110 h1100"
            >
              <animate
                attributeName="d"
                from="m0,110 h0"
                to="m0,110 h1100"
                :dur="`${duration}s`"
                begin="0s"
                repeatCount="1"
              />
            </path>
            <text
              font-size="46"
              font-family="Montserrat"
              fill="#02ffff"
            >
              <textPath xlink:href="#path">A long time ago, in a server far, far away...
              </textPath>
            </text>
          </svg>
          <svg
            v-if="loaderIsShow"
            width="50"
            height="50"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
          ><path
            d="M19.0268555,2.261312c-0.0805664-0.0600867-0.1635742-0.1187079-0.2495117-0.1758635  c-0.2280273-0.1529036-0.5375977-0.0918398-0.690918,0.1362944c-0.1538086,0.2276454-0.0947266,0.5378492,0.1318359,0.6931953  c0.0683594,0.0468969,0.1357422,0.0942824,0.2021484,0.1421564c2.7480469,2.0414824,1.9228516,6.0917177,1.5966797,7.3071299  c-0.9819336,3.6594276-3.4086914,3.6291399-3.4951172,3.6315823c-0.0341797-0.0029306-0.0688477,0.0014658-0.1000977,0.0058622  c-0.0336914,0.0034199-0.7963867,0.1108923-1.4443359-0.4469862C14.3378906,13.0041323,14,11.9455309,14,10.49368  c0-3.62572,2.6137695-4.9994097,2.7250977-5.056077c0.1274414-0.0644832,0.2216797-0.1812372,0.2578125-0.3194852  c0.0361328-0.1382484,0.012207-0.2857785-0.0668945-0.4044862l-1-1.5007024  c-0.1396484-0.2095706-0.4150391-0.2818701-0.6396484-0.1700015c-0.5249023,0.2628183-1.1586914,0.7625639-1.6728516,1.2085733  c0.1386719-0.8954384,0.3676758-1.593519,0.3710938-1.6037776c0.0512695-0.1553462,0.0239258-0.3268132-0.074707-0.4577339  l-1.5-2.0009363c-0.1884766-0.2520711-0.6113281-0.2520711-0.7998047,0l-1.5,2.0009363  c-0.0986328,0.1309206-0.1259766,0.3023877-0.074707,0.4577339c0.003418,0.0102587,0.2324219,0.7083392,0.3710938,1.6037776  c-0.5141602-0.4460094-1.1479492-0.945755-1.6728516-1.2085733C8.4985352,2.9310591,8.2241211,3.0033586,8.0839844,3.2129292  l-1,1.5007024C7.0043945,4.832828,6.9799805,4.9808464,7.0166016,5.1195831  C7.0537109,5.2583199,7.1479492,5.3745852,7.2763672,5.43858C7.3037109,5.4522581,10,6.8430457,10,10.49368  c0,1.4518509-0.3378906,2.5104523-0.9775391,3.0610027c-0.6484375,0.5583668-1.4121094,0.4499178-1.4404297,0.4474745  c-0.03125-0.0048847-0.0673828-0.0092812-0.1000977-0.0063505c-0.0874023,0.0122128-2.5170898,0.0293112-3.4990234-3.6315823  C3.6567383,9.1488123,2.831543,5.1000428,5.5786133,3.0580716c0.0673828-0.048851,0.1357422-0.096725,0.2045898-0.1441104  C6.0097656,2.758615,6.0683594,2.4488997,5.9140625,2.2212543C5.7607422,1.9950742,5.453125,1.9340105,5.2226563,2.0854485  C5.1376953,2.1421156,5.0551758,2.2002482,4.9755859,2.2593579C1.8544922,4.5172505,0,8.1341772,0,11.9943819  C0,18.6141796,5.3833008,24,12,24s12-5.3858204,12-12.0056181C24,8.135643,22.1464844,4.5196929,19.0268555,2.261312z"
            fill="#02ffff"
          /><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/></svg>
        </div>
      </div>
      <h1
        v-else
        class="showcase__first-screen-title"
      >
        Hello world
      </h1>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'FirstScreenPreloader',
  props: {
    duration: {
      type: Number,
      required: true,
    },
    status: {
      type: Boolean,
      required: true,
    },
  },
  data () {
    return {
      pageIsLoaded: false,
      loaderIsShow: false,
      animationDuration: 3000,
    }
  },
  watch: {
    pageIsLoaded (e) {
      if (e) {
        setTimeout(() => {
          this.$emit('animationIsEnd', true)
        }, this.animationDuration)
      }
    },
    status (v) {
      if (v) {
        if (this.loaderIsShow) { this.pageIsLoaded = true }
      }
    },
  },
  mounted () {
    setTimeout(() => {
      if (this.status) { this.pageIsLoaded = true }
      this.loaderIsShow = true
    }, this.duration * 1000)
  },
}
</script>
