<template>
  <div
    :class="{'active': onOpenNav}"
    class="navigation"
  >
    <BtnBurger
      :event="onOpenNav"
      @click="onOpenNav = !onOpenNav"
    />
    <ul
      v-if="onOpenNav"
      class="navigation__box"
    >
      <li class="navigation__link">
        <router-link to="/">
          На главную
        </router-link>
      </li>
      <li class="navigation__link">
        <router-link to="/about">
          О навыках
        </router-link>
      </li>
      <li class="navigation__link">
        <router-link to="/game">
          Игра
        </router-link>
      </li>
    </ul>
    <BootstrapIcon
      v-if="!videoPreloader.isStarted && $route.path !== '/game'"
      icon="mouse"
      size="3x"
    />
  </div>
</template>

<script>
import BtnBurger from '../components/BtnBurger'
import { mapState } from 'vuex'
export default {
  name: 'Nav',
  components: {
    BtnBurger,
  },
  computed: {
    ...mapState('pages', [
      'videoPreloader',
    ]),
  },
  data () {
    return {
      onOpenNav: false,
    }
  },
  mounted () {
  },
}
</script>

<style>

</style>
