<template>
  <div
    class="common-video-block"
    :class="{'hide': isShow}"
  >
    <video
      ref="video"
      muted="muted"
      name="media"
    >
      <source
        src="@/assets/media/2.mp4"
        type="video/mp4"
      >
    </video>
  </div>
</template>

<script>
import { getCurrentInstance, watch } from 'vue'

export default {
  name: 'VideoPreloader',
  props: {
    play: {
      type: Object,
      required: true,
    },
    show: {
      type: Boolean,
      required: true,
    },
  },
  setup (props, root) {
    const context = getCurrentInstance()

    watch(() => props.play, (e) => {
      if (e) {
        context.refs.video.play()
        context.refs.video.onended = () => {
          context.appContext.config.globalProperties.$store.commit('pages/setPreloaderState', false)
        }
      }
    })
  },
}
</script>

<style scoped>
  video{
    width: 100%;
  }
  .hide{
    opacity: 0;
  }
</style>
