<template>
  <div class="showcase">
    <div
      ref="container"
      v-touch:drag="onScroll"
      class="showcase__wrapper"
      @wheel.prevent="onScroll"
    >
      <VideoPreloader
        :play="videoPreloader.isStarted"
        :show="hide"
      />
      <transition
        name="fade"
        mode="out-in"
      >
        <HelloWorld
          v-if="!animationIsEnd.value"
          :duration="3.8"
          :status="loadingStatus.value"
          @animationIsEnd="animationIsEnd.value = $event"
        />
        <div v-else>
          <Nav/>
          <div
            v-show="!videoPreloader.isStarted"
            :class="setScreen.className"
            class="showcase__content"
          >
            <router-view
              :scroll-anchor="scrollIsStarted"
              :is-next="isNext"
              :sizes="{
                w: $refs.container.clientWidth,
                h: $refs.container.clientHeight,
              }"
              @isHideEmit="isHide($event)"
            />
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import { defineComponent, getCurrentInstance, onMounted, reactive, ref } from 'vue'
import { mapGetters, mapState } from 'vuex'
import VideoPreloader from './components/VideoPreloader'
import Nav from './components/Nav'
import HelloWorld from './components/HelloWorld'
import { useCommon } from './composables/common'
export default defineComponent({
  name: 'App',
  components: {
    // Content,
    HelloWorld,
    Nav,
    VideoPreloader,
  },
  computed: {
    ...mapState('pages', [
      'videoPreloader',
      'scrollValue',
      'screens',
      'isNext',
    ]),
    ...mapGetters('pages', [
      'setScreen',
    ]),
    translateIndex () {
      return this.scrollValue.z - (parseFloat(this.scrollValue.x.toFixed(2)) * 50)
    },
  },
  setup (_, props) {
    const { onScrollValue } = useCommon()
    const context = getCurrentInstance().appContext.config.globalProperties
    const isFirstLoaded = reactive({
      value: true,
    })
    const scrollIsStarted = reactive({
      value: false,
    })
    const loadingStatus = reactive({
      value: false,
    })
    const animationIsEnd = reactive({
      value: false,
    })
    const hide = ref(false)

    const scrollHandler = (evt) => {
      scrollIsStarted.value = true
      onScrollValue(evt, context)
    }

    onMounted(async () => {
      const response = await context.$modules.api.getScreensData()
      context.$store.commit('pages/setData', response)
      loadingStatus.value = true
      scrollIsStarted.value = false
      isFirstLoaded.value = false
    })

    const isHide = (e) => {
      hide.value = e
    }

    const onScroll = (evt) => {
      scrollHandler(evt)
    }

    return {
      onScroll,
      isHide,
      scrollIsStarted,
      scrollHandler,
      isFirstLoaded,
      loadingStatus,
      animationIsEnd,
    }
  },
  watch: {
    '$route' (e, a) {
      if (this.scrollIsStarted.value) {
        this.$store.commit('pages/setDefaultScrollValue', [
          'x',
          'y',
        ])
        this.$store.commit('pages/setNextState', false)
        this.$store.commit('pages/setPreloaderState', true)
        this.scrollIsStarted.value = true
      }
    },
  },
})
</script>

<style lang="scss">
@import './assets/scss/index.scss';
</style>
